footer{
    clear: both;
    margin-top: 100px;

    background-image: url("../images/footerbg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}


.fejl{
    padding-top: 100px;
    text-align: center;
}

.fejl h3{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 10px;
}

.rigtigFooter{
    clear: both;
    margin-top: 300px;
}

.footerText{
    width: 50%;
    float: left;
}

.footerText p{
    margin: 5px 0;
    font-size: 14px;
}

.footerIcon{
    width: 50%;
    float: left;
    text-align: right;
}

.footerIcon svg{
    width: 80px;
}