
header{
    width: 96%;
    max-width: 1100px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    padding: 24px 0 19px 0;
    margin: 100px auto 60px auto;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;

    box-shadow:
        0 0.3px 2.9px rgba(0, 0, 0, 0.02),
        0 0.7px 7px rgba(0, 0, 0, 0.028),
        0 1.3px 13.3px rgba(0, 0, 0, 0.035),
        0 2.2px 23.7px rgba(0, 0, 0, 0.042),
        0 4.2px 44.3px rgba(0, 0, 0, 0.05),
        0 10px 106px rgba(0, 0, 0, 0.07)
    ;
}

.logo svg{
    width: 24px;
    height: auto;
}